Repository NethermindEth/nethermind, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nethermindeth/core-devops, @rubo, @LukaszRozmej, @MarekM25

Change approach
  .github/workflows/rpc-comparison.yaml
  .github/workflows/run-a-single-node-from-branch.yml
Owners: @nethermindeth/core-devops, @rubo

Add mising custom id
  .github/workflows/rpc-comparison.yaml
  .github/workflows/run-a-single-node-from-branch.yml
Owners: @nethermindeth/core-devops, @rubo

Change approach to only 1 branch compare
  .github/workflows/rpc-comparison.yaml
  .github/workflows/run-a-single-node-from-branch.yml
Owners: @nethermindeth/core-devops, @rubo

Fix
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Fix2
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

add if commented
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Fetch only most recent run for selected ref
  scripts/wait-for-workflow-completed.sh
Owners: @nethermindeth/core-devops, @rubo

Change name of job
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Fix a ref_name displayed
  .github/workflows/rpc-comparison.yaml
  .github/workflows/run-a-single-node-from-branch.yml
Owners: @nethermindeth/core-devops, @rubo

Fix ref name
  .github/workflows/run-a-single-node-from-branch.yml
Owners: @nethermindeth/core-devops, @rubo

refactor
  src/Nethermind/Nethermind.Consensus/Validators/BlockValidator.cs
  src/Nethermind/Nethermind.Synchronization/FastBlocks/BodiesSyncFeed.cs
Owners: none

Updating Fast Sync config files
  src/Nethermind/Nethermind.Runner/configs/chiado.cfg
  src/Nethermind/Nethermind.Runner/configs/energyweb.cfg
  src/Nethermind/Nethermind.Runner/configs/exosama.cfg
  src/Nethermind/Nethermind.Runner/configs/gnosis.cfg
  src/Nethermind/Nethermind.Runner/configs/goerli.cfg
  src/Nethermind/Nethermind.Runner/configs/mainnet.cfg
  src/Nethermind/Nethermind.Runner/configs/sepolia.cfg
  src/Nethermind/Nethermind.Runner/configs/volta.cfg
Owners: none

Pipeline Json responses
  src/Nethermind/Directory.Packages.props
  src/Nethermind/Nethermind.Core/Collections/ThrowHelper.cs
  src/Nethermind/Nethermind.Evm.Test/Tracing/GethLikeTxFileTracerTests.cs
  src/Nethermind/Nethermind.Evm/Tracing/GethStyle/GethLikeTxTraceJsonLinesConverter.cs
  src/Nethermind/Nethermind.Evm/Tracing/GethStyle/GethLikeTxTracer.cs
  src/Nethermind/Nethermind.Evm/Tracing/GethStyle/GethTxMemoryTraceEntry.cs
  src/Nethermind/Nethermind.Evm/Tracing/GethStyle/GethTxTraceEntry.cs
  src/Nethermind/Nethermind.JsonRpc.Test/Modules/DebugModuleTests.cs
  src/Nethermind/Nethermind.JsonRpc/WebSockets/JsonRpcSocketsClient.cs
  src/Nethermind/Nethermind.Serialization.Json/BufferSegment.cs
  src/Nethermind/Nethermind.Serialization.Json/BufferSegmentStack.cs
  src/Nethermind/Nethermind.Serialization.Json/EthereumJsonSerializer.cs
  src/Nethermind/Nethermind.Serialization.Json/Nethermind.Serialization.Json.csproj
  src/Nethermind/Nethermind.Serialization.Json/StreamPipeWriter.cs
  src/Nethermind/Nethermind.Sockets/SocketClient.cs
Owners: none

fix base config & engineV2 methods
  src/Nethermind/Nethermind.Optimism/IOptimismEngineRpcModule.cs
  src/Nethermind/Nethermind.Optimism/OptimismEngineRpcModule.cs
Owners: none

Disable gc
  src/Nethermind/Nethermind.Runner/configs/base-mainnet.cfg
Owners: none

Unify js types, use typed arrays everywhere + long for slice parameters
  src/Nethermind/Nethermind.Evm/Tracing/GethStyle/JavaScript/Context.cs
  src/Nethermind/Nethermind.Evm/Tracing/GethStyle/JavaScript/Engine.cs
  src/Nethermind/Nethermind.Evm/Tracing/GethStyle/JavaScript/JavaScriptConverter.cs
Owners: none

Fix base config & migrate op to V2 methods (#6317)
  src/Nethermind/Nethermind.Optimism/IOptimismEngineRpcModule.cs
  src/Nethermind/Nethermind.Optimism/OptimismEngineRpcModule.cs
  src/Nethermind/Nethermind.Runner/configs/base-mainnet.cfg
Owners: none

Cleanup
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Fix base config & migrate op to V2 methods (#6317)
  src/Nethermind/Nethermind.Optimism/IOptimismEngineRpcModule.cs
  src/Nethermind/Nethermind.Optimism/OptimismEngineRpcModule.cs
  src/Nethermind/Nethermind.Runner/configs/base-mainnet.cfg
Owners: none

Remove RC tag
  src/Nethermind/Directory.Build.props
Owners: none

Fix typo
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Clean refs
  .github/workflows/rpc-comparison.yaml
  .github/workflows/run-a-single-node-from-branch.yml
Owners: @nethermindeth/core-devops, @rubo

Change artifacts download path
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Change action temporarily
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Add path param
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Switch to david action type
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Trigger new nodes
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Rollback needs
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Fix if check for docker build creation
  .github/workflows/run-a-single-node-from-branch.yml
Owners: @nethermindeth/core-devops, @rubo

Unify reputation settings (#6242)
  src/Nethermind/Nethermind.Network.Stats/NodeStatsLight.cs
  src/Nethermind/Nethermind.Network.Stats/StatsParameters.cs
  src/Nethermind/Nethermind.Network.Test/NodeStatsTests.cs
  src/Nethermind/Nethermind.Network.Test/PeerManagerTests.cs
Owners: none

added metrics for bad blocks (#6270)
  src/Nethermind/Nethermind.Blockchain/Metrics.cs
  src/Nethermind/Nethermind.Config/BlocksConfig.cs
  src/Nethermind/Nethermind.Consensus.Test/BlockExtenstionsTests.cs
  src/Nethermind/Nethermind.Consensus/Processing/BlockExtensions.cs
  src/Nethermind/Nethermind.Consensus/Processing/BlockchainProcessor.cs
Owners: none

Rolback to classic artifacts downoad
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Add better docker image check
  .github/workflows/run-a-single-node-from-branch.yml
Owners: @nethermindeth/core-devops, @rubo

Add missing if condition
  .github/workflows/run-a-single-node-from-branch.yml
Owners: @nethermindeth/core-devops, @rubo

Use appropriate FindCachedOrUnknown overload for path based state
  src/Nethermind/Nethermind.Synchronization/ParallelSync/FullStateFinder.cs
Owners: none

persist bad blocks to disk
  src/Nethermind/Nethermind.Blockchain/BlockTree.cs
  src/Nethermind/Nethermind.Blockchain/Blocks/BlockStore.cs
  src/Nethermind/Nethermind.Blockchain/Blocks/IBlockStore.cs
  src/Nethermind/Nethermind.Core.Test/Builders/BlockTreeBuilder.cs
  src/Nethermind/Nethermind.Db/DbNames.cs
  src/Nethermind/Nethermind.Db/IDbProvider.cs
  src/Nethermind/Nethermind.Db/Metrics.cs
  src/Nethermind/Nethermind.Db/StandardDbInitializer.cs
  src/Nethermind/Nethermind.Init/Steps/InitializeBlockTree.cs
Owners: none

Test for default options
  src/Nethermind/Nethermind.Network.Test/P2P/Subprotocols/Eth/V68/Eth68ProtocolHandlerTests.cs
Owners: none

Add throttling config
  src/Nethermind/Nethermind.Network/Config/INetworkConfig.cs
  src/Nethermind/Nethermind.Network/Config/NetworkConfig.cs
Owners: @rubo

Use `RateLimitedPacketSender`
  src/Nethermind/Nethermind.Init/Steps/InitializeNetwork.cs
  src/Nethermind/Nethermind.Network.Test/Rlpx/Handshake/NettyHandshakeHandlerTests.cs
  src/Nethermind/Nethermind.Network/Rlpx/NettyHandshakeHandler.cs
  src/Nethermind/Nethermind.Network/Rlpx/RlpxHost.cs
Owners: none

Set up `Eth68ProtocolHandler` to use optional throttle
  src/Nethermind/Nethermind.Init/Steps/InitializeNetwork.cs
  src/Nethermind/Nethermind.Network/ProtocolsManager.cs
Owners: none

.github/CODEOWNERS:

/.github/ @nethermindeth/core-devops @rubo
/scripts/ @nethermindeth/core-devops @rubo

#/src/ @nethermindeth/core-general
/src/Nethermind/**/I*Config.cs @rubo
#/tools/ @nethermindeth/core-general
#/.* @nethermindeth/core-general

/Dockerfile* @nethermindeth/core-devops @rubo
/LICENSE* @rubo @LukaszRozmej @MarekM25
*.md @rubo @LukaszRozmej @MarekM25
