Repository NethermindEth/nethermind, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nethermindeth/core-devops, @rubo, @LukaszRozmej, @MarekM25

.github/CODEOWNERS:

/.github/ @nethermindeth/core-devops @rubo
/scripts/ @nethermindeth/core-devops @rubo

#/src/ @nethermindeth/core-general
/src/Nethermind/**/I*Config.cs @rubo
#/tools/ @nethermindeth/core-general
#/.* @nethermindeth/core-general

/Dockerfile* @nethermindeth/core-devops @rubo
/LICENSE* @rubo @LukaszRozmej @MarekM25
*.md @rubo @LukaszRozmej @MarekM25

check shutter txs included in first block
  src/Nethermind/Nethermind.Merge.AuRa.Test/AuRaMergeEngineModuleTests.cs
Owners: none

Fix PartialContent issue
  src/Nethermind/Nethermind.Init.Snapshot/InitDatabaseSnapshot.cs
Owners: none

Disable prerelease
  global.json
Owners: none

Update workflows
  .github/workflows/build-nethermind-packages.yml
  .github/workflows/build-solutions.yml
  .github/workflows/code-formatting.yml
  .github/workflows/codeql.yml
  .github/workflows/nethermind-tests.yml
  .github/workflows/publish-docker.yml
  .github/workflows/release.yml
  .github/workflows/run-posdao-tests.yml
Owners: @nethermindeth/core-devops, @rubo

Clean up `.editorconfig`
  .editorconfig
Owners: none

Fix snapshot resume + op snapshot config (#6309)
  src/Nethermind/Nethermind.Init.Snapshot/InitDatabaseSnapshot.cs
  src/Nethermind/Nethermind.Runner/configs/op-mainnet.cfg
Owners: none

Fix snapshot resume + op snapshot config (#6309)
  src/Nethermind/Nethermind.Init.Snapshot/InitDatabaseSnapshot.cs
  src/Nethermind/Nethermind.Runner/configs/op-mainnet.cfg
Owners: none

Make POSDAO tests to run on each master and release commits
  .github/workflows/run-posdao-tests.yml
Owners: @nethermindeth/core-devops, @rubo

Test better approach of triggering posdao
  .github/workflows/run-posdao-tests.yml
Owners: @nethermindeth/core-devops, @rubo

Fix typo in branch name
  .github/workflows/run-posdao-tests.yml
Owners: @nethermindeth/core-devops, @rubo

Add fail fast, remove trigger for current branch
  .github/workflows/run-posdao-tests.yml
Owners: @nethermindeth/core-devops, @rubo

Also check withdrawals before insertion
  src/Nethermind/Nethermind.Consensus/Validators/BlockValidator.cs
  src/Nethermind/Nethermind.Synchronization/FastBlocks/BodiesSyncFeed.cs
Owners: none

Make POSDAO tests to run on each master and release commits (#6310)
  .github/workflows/run-posdao-tests.yml
Owners: @nethermindeth/core-devops, @rubo

Update Git files
  .gitattributes
  .gitignore
Owners: none

Update Docker files
  .dockerignore
  Dockerfile
  Dockerfile.diag
Owners: @nethermindeth/core-devops, @rubo

Change apprioach of downloading artifacts
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Add more params to artifact download
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Update `.gitignore`
  .gitignore
Owners: none

Download all from current run
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Fix formatting
  src/Nethermind/Nethermind.Core/Collections/SpanDictionary.cs
  src/Nethermind/Nethermind.Evm/VirtualMachine.cs
Owners: none

Change the runid
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

refactor
  src/Nethermind/Nethermind.Consensus/Validators/BlockValidator.cs
  src/Nethermind/Nethermind.Synchronization/FastBlocks/BodiesSyncFeed.cs
Owners: none

Add search
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Fix typo
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Update JetBrains tooling
  Dockerfile.diag
Owners: @nethermindeth/core-devops, @rubo

Change way of downlaoding artifacts
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Remove macOS prerequisites
  README.md
Owners: @rubo, @LukaszRozmej, @MarekM25

include shutter transactions in each execution payload
  src/Nethermind/Nethermind.Merge.AuRa.Test/AuRaMergeEngineModuleTests.cs
Owners: none

Add NodeData satellite protocol (#5191)
  src/Nethermind/Nethermind.Blockchain/Synchronization/INodeDataPeer.cs
  src/Nethermind/Nethermind.Network.Contract/P2P/Protocol.cs
  src/Nethermind/Nethermind.Network.Test/Builders/SerializationBuilder.cs
  src/Nethermind/Nethermind.Network.Test/P2P/P2PProtocolHandlerTests.cs
  src/Nethermind/Nethermind.Network.Test/P2P/P2PProtocolInfoProviderTests.cs
  src/Nethermind/Nethermind.Network.Test/P2P/Subprotocols/NodeData/GetNodeDataMessageSerializerTests.cs
  src/Nethermind/Nethermind.Network.Test/P2P/Subprotocols/NodeData/GetNodeDataMessageTests.cs
  src/Nethermind/Nethermind.Network.Test/P2P/Subprotocols/NodeData/NodeDataMessageSerializerTests.cs
  src/Nethermind/Nethermind.Network.Test/P2P/Subprotocols/NodeData/NodeDataMessageTests.cs
  src/Nethermind/Nethermind.Network.Test/P2P/Subprotocols/NodeData/NodeDataProtocolHandlerTests.cs
  src/Nethermind/Nethermind.Network/Metrics.cs
  src/Nethermind/Nethermind.Network/P2P/ProtocolHandlers/P2PProtocolHandler.cs
  src/Nethermind/Nethermind.Network/P2P/Subprotocols/NodeData/Messages/GetNodeDataMessage.cs
  src/Nethermind/Nethermind.Network/P2P/Subprotocols/NodeData/Messages/GetNodeDataMessageSerializer.cs
  src/Nethermind/Nethermind.Network/P2P/Subprotocols/NodeData/Messages/NodeDataMessage.cs
  src/Nethermind/Nethermind.Network/P2P/Subprotocols/NodeData/Messages/NodeDataMessageSerializer.cs
  src/Nethermind/Nethermind.Network/P2P/Subprotocols/NodeData/NodeDataMessageCode.cs
  src/Nethermind/Nethermind.Network/P2P/Subprotocols/NodeData/NodeDataProtocolHandler.cs
  src/Nethermind/Nethermind.Network/ProtocolsManager.cs
  src/Nethermind/Nethermind.Synchronization/FastSync/PendingSyncItems.cs
  src/Nethermind/Nethermind.Synchronization/StateSync/PeerInfoExtensions.cs
  src/Nethermind/Nethermind.Synchronization/StateSync/StateSyncDownloader.cs
  src/Nethermind/Nethermind.Synchronization/Trie/GetNodeDataTrieNodeRecovery.cs
Owners: none

Lazy finalization manager - ported from Paprika
  src/Nethermind/Nethermind.Api/IApiWithBlockchain.cs
  src/Nethermind/Nethermind.Api/NethermindApi.cs
Owners: none

Added FCU handling to by path persistence strategy
  src/Nethermind/Nethermind.Blockchain/ByPathState/ByPathConstantPersistenceStrategy.cs
  src/Nethermind/Nethermind.Blockchain/FullPruning/PruningTriggerPersistenceStrategy.cs
  src/Nethermind/Nethermind.Init/Steps/InitializeBlockchain.cs
  src/Nethermind/Nethermind.State.Test/StateReaderTests.cs
  src/Nethermind/Nethermind.State.Test/StateTreeByPathTests.cs
  src/Nethermind/Nethermind.State/TrieNodeResolverCapabilityStateExtension.cs
  src/Nethermind/Nethermind.Trie.Test/TrieByPathFuzzTesting.cs
  src/Nethermind/Nethermind.Trie.Test/TrieByPathTests.cs
  src/Nethermind/Nethermind.Trie.Test/TrieByPathWithPrefixTest.cs
  src/Nethermind/Nethermind.Trie/Pruning/Archive.cs
  src/Nethermind/Nethermind.Trie/Pruning/CompositePersistenceStrategy.cs
  src/Nethermind/Nethermind.Trie/Pruning/IPathPersistenceStrategy.cs
  src/Nethermind/Nethermind.Trie/Pruning/IPersistenceStrategy.cs
  src/Nethermind/Nethermind.Trie/Pruning/IntervalSnapshotting.cs
  src/Nethermind/Nethermind.Trie/Pruning/NoPersistence.cs
  src/Nethermind/Nethermind.Trie/Pruning/Persist.cs
  src/Nethermind/Nethermind.Trie/Pruning/TrieStoreByPath.cs
Owners: none

Path data cache fixes for reorgs
  src/Nethermind/Nethermind.Trie/ByPath/PathDataCache.cs
Owners: none

cosmetics
  src/Nethermind/Ethereum.Test.Base/TestLoader.cs
  src/Nethermind/Nethermind.Abi.Test/Json/AbiParameterConverterTests.cs
  src/Nethermind/Nethermind.Abi/AbiArray.cs
  src/Nethermind/Nethermind.Abi/AbiDefinition.cs
Owners: none

refactor test, prevent txpool transactions being returned in multiple execution payloads
  src/Nethermind/Nethermind.Merge.AuRa.Test/AuRaMergeEngineModuleTests.cs
Owners: none

bad shutter transactions rejected from block
  src/Nethermind/Nethermind.Merge.AuRa.Test/AuRaMergeEngineModuleTests.cs
Owners: none

Commen out diagnostic code
  src/Nethermind/Nethermind.Trie/PatriciaTree.cs
  src/Nethermind/Nethermind.Trie/TrieNode.cs
Owners: none

Enable caching store / db for path based layout.
  src/Nethermind/Nethermind.Api/IApiWithBlockchain.cs
  src/Nethermind/Nethermind.Api/NethermindApi.cs
  src/Nethermind/Nethermind.Blockchain.Test/BlockProcessorTests.cs
  src/Nethermind/Nethermind.Blockchain.Test/Producers/DevBlockproducerTests.cs
  src/Nethermind/Nethermind.Blockchain.Test/Visitors/StartupTreeFixerTests.cs
  src/Nethermind/Nethermind.Core.Test/Blockchain/TestBlockchain.cs
  src/Nethermind/Nethermind.Core.Test/Builders/TestItem.Tree.cs
  src/Nethermind/Nethermind.Db.Rocks/ColumnsDb.cs
  src/Nethermind/Nethermind.Db/ByPathState/ByPathStateDb.cs
  src/Nethermind/Nethermind.Db/StandardDbInitializer.cs
  src/Nethermind/Nethermind.Evm.Test/TransactionProcessorFeeTests.cs
  src/Nethermind/Nethermind.Facade.Test/BlockchainBridgeTests.cs
  src/Nethermind/Nethermind.Init/Steps/InitializeBlockchain.cs
  src/Nethermind/Nethermind.Init/Steps/InitializeNetwork.cs
  src/Nethermind/Nethermind.JsonRpc.Test/Modules/Proof/ProofRpcModuleTests.cs
  src/Nethermind/Nethermind.Merge.Plugin/MergePlugin.cs
  src/Nethermind/Nethermind.Merge.Plugin/Synchronization/MergeSynchronizer.cs
  src/Nethermind/Nethermind.State.Test/PatriciaTreeTests.cs
  src/Nethermind/Nethermind.State.Test/SnapSync/RecreateStateFromAccountRangesTests.cs
  src/Nethermind/Nethermind.State.Test/StateProviderTests.cs
  src/Nethermind/Nethermind.State.Test/StateReaderTests.cs
  src/Nethermind/Nethermind.State.Test/StateTreeByPathTests.cs
  src/Nethermind/Nethermind.State/StateTreeByPath.cs
  src/Nethermind/Nethermind.State/TrieNodeResolverCapabilityStateExtension.cs
  src/Nethermind/Nethermind.Synchronization.Test/SnapSync/RecreateStateFromAccountRangesTests.cs
  src/Nethermind/Nethermind.Synchronization.Test/SnapSync/RecreateStateFromStorageRangesTests.cs
  src/Nethermind/Nethermind.Synchronization/SnapSync/SnapProvider.cs
  src/Nethermind/Nethermind.Synchronization/Synchronizer.cs
  src/Nethermind/Nethermind.Trie.Test/PathCacheTests.cs
  src/Nethermind/Nethermind.Trie.Test/PathDataCacheTests.cs
  src/Nethermind/Nethermind.Trie.Test/TrieByPathFuzzTesting.cs
  src/Nethermind/Nethermind.Trie.Test/TrieByPathTests.cs
  src/Nethermind/Nethermind.Trie.Test/TrieByPathWithPrefixTest.cs
  src/Nethermind/Nethermind.Trie/ByPath/PathDataCache.cs
  src/Nethermind/Nethermind.Trie/CachingStore.cs
  src/Nethermind/Nethermind.Trie/Pruning/TrieStoreByPath.cs
  src/Nethermind/Nethermind.TxPool.Test/TxPoolTests.cs
Owners: none

Test a different run-id
  .github/workflows/rpc-comparison.yaml
  .github/workflows/run-a-single-node-from-branch.yml
Owners: @nethermindeth/core-devops, @rubo

Fix formatting
  src/Nethermind/Nethermind.Evm.Test/BytecodeBuilderExtensionsTests.cs
Owners: none

Fix NUnit analyzer warnings
  src/Nethermind/Nethermind.State.Test.Runner.Test/StateTestTxTracerTest.cs
Owners: none
