Repository NethermindEth/nethermind, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nethermindeth/core-devops, @rubo, @LukaszRozmej, @MarekM25

.github/CODEOWNERS:

/.github/ @nethermindeth/core-devops @rubo
/scripts/ @nethermindeth/core-devops @rubo

#/src/ @nethermindeth/core-general
/src/Nethermind/**/I*Config.cs @rubo
#/tools/ @nethermindeth/core-general
#/.* @nethermindeth/core-general

/Dockerfile* @nethermindeth/core-devops @rubo
/LICENSE* @rubo @LukaszRozmej @MarekM25
*.md @rubo @LukaszRozmej @MarekM25

Change matrix approach
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Fix json creation
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Fix path
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Select branch
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Absolut path
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

revert path
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

static path
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Remove ref
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

bump checkout
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

add logs
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Add fethc depth
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

change debug log
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

More logs
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Change logs
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Change back to old version of run0single-node
  .github/workflows/rpc-comparison.yaml
  .github/workflows/run-a-single-node-from-branch.yml
Owners: @nethermindeth/core-devops, @rubo

revert changes
  .github/workflows/run-a-single-node-from-branch.yml
Owners: @nethermindeth/core-devops, @rubo

Update README
  README.md
Owners: @rubo, @LukaszRozmej, @MarekM25

Change job
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Add matrix to path
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Adjust ref
  .github/workflows/rpc-comparison.yaml
  .github/workflows/run-a-single-node-from-branch.yml
Owners: @nethermindeth/core-devops, @rubo

fix allowed_ips
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

missing needs
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Fix trigger job
  .github/workflows/run-a-single-node-from-branch.yml
Owners: @nethermindeth/core-devops, @rubo

refactor and minor fixes
  src/Nethermind/Nethermind.Synchronization.Test/FastBlocks/BodiesSyncFeedTests.cs
  src/Nethermind/Nethermind.Synchronization.Test/FastBlocks/ReceiptsSyncFeedTests.cs
  src/Nethermind/Nethermind.Synchronization/FastBlocks/BarrierSyncFeed.cs
  src/Nethermind/Nethermind.Synchronization/FastBlocks/BodiesSyncFeed.cs
  src/Nethermind/Nethermind.Synchronization/FastBlocks/ReceiptsSyncFeed.cs
Owners: none

Update DotNetty package
  src/Nethermind/Directory.Packages.props
Owners: none

Add a separate job to wait for node sync
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Use better processing timer for logging (#5843)
  src/Nethermind/Nethermind.Consensus/Processing/ProcessingStats.cs
  src/Nethermind/Nethermind.Runner/NLog.config
Owners: none

Use validator mode and set Pruning to None
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Don't use DarkGray (#5849)
  src/Nethermind/Nethermind.Consensus/Processing/ProcessingStats.cs
  src/Nethermind/Nethermind.Runner/NLog.config
Owners: none

Trigger workflow?
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Change step timeout as well
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Update DotNetty feed
  src/Nethermind/Directory.Packages.props
  src/Nethermind/nuget.config
Owners: none

Increase timeout of wait to sync to 10 hours
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Fix run-a-single-node-from-branch.yml
  .github/workflows/run-a-single-node-from-branch.yml
Owners: @nethermindeth/core-devops, @rubo

Bump to 1.20.1
  src/Nethermind/Directory.Build.props
Owners: none

Add workflow to compare rpcs
  .github/workflows/rpc-comparison.yaml
  .github/workflows/run-a-single-node-from-branch.yml
  .gitignore
  scripts/wait-for-workflow-completed.sh
  scripts/wireguard.conf.template
Owners: @nethermindeth/core-devops, @rubo

minor fixes
  src/Nethermind/Nethermind.TxPool.Test/TxPoolTests.cs
  src/Nethermind/Nethermind.TxPool/TransactionExtensions.cs
Owners: none

Fix missing checkout
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Wait for the node to sync
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Update version to 1.20.0
  src/Nethermind/Directory.Build.props
Owners: none
