Repository NethermindEth/nethermind, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nethermindeth/core-devops, @rubo, @LukaszRozmej, @MarekM25, @flcl42, @Marchhill, @asdacap, @damian-orzechowski, @ak88, @smartprogrammer93, @benaadams, @Demuirgos, @marcindsobczak, @emlautarom1, @deffrian, @tanishqjasoria, @dipkakwani, @cicr99

Rollback
  src/Nethermind/Nethermind.Network.Test/P2P/Subprotocols/Eth/V62/Eth62ProtocolHandlerTests.cs
  src/Nethermind/Nethermind.Network.Test/P2P/Subprotocols/Eth/V65/Eth65ProtocolHandlerTests.cs
  src/Nethermind/Nethermind.Network/P2P/ProtocolHandlers/ProtocolHandlerBase.cs
  src/Nethermind/Nethermind.Network/P2P/Subprotocols/Eth/V62/Eth62ProtocolHandler.cs
  src/Nethermind/Nethermind.Network/P2P/Subprotocols/Eth/V62/Messages/TransactionsMessage.cs
Owners: @LukaszRozmej, @flcl42, @asdacap, @marcindsobczak

remove console logs
  src/Nethermind/Nethermind.Core/BlockAccessLists/BlockAccessList.cs
Owners: none

feat: extend hacked get payload to version 3
  src/Nethermind/Nethermind.Merge.Plugin/EngineRpcModule.Cancun.cs
  src/Nethermind/Nethermind.Merge.Plugin/Handlers/GetPayloadV3Handler.cs
  src/Nethermind/Nethermind.Merge.Plugin/IEngineRpcModule.Cancun.cs
Owners: @LukaszRozmej, @MarekM25, @flcl42, @benaadams, @Marchhill

Fix tests
  src/Nethermind/Nethermind.Network.Test/P2P/Subprotocols/Eth/V68/Eth68ProtocolHandlerTests.cs
  src/Nethermind/Nethermind.Network/P2P/ProtocolHandlers/ProtocolHandlerBase.cs
  src/Nethermind/Nethermind.Network/P2P/Subprotocols/Eth/V62/Messages/TransactionsMessage.cs
Owners: @LukaszRozmej, @flcl42, @asdacap, @marcindsobczak

commit PR suggestion
  src/Nethermind/Nethermind.Core/BlockHeader.cs
Owners: none

Remove redundant Interlocked.MemoryBarrier calls
  src/Nethermind/Nethermind.Core/Threading/McsLock.cs
Owners: none

cleanup
  src/Nethermind/Nethermind.Xdc/EpochSwitchManager.cs
  src/Nethermind/Nethermind.Xdc/HotStuff.cs
  src/Nethermind/Nethermind.Xdc/TimeoutCertificateManager.cs
Owners: @ak88, @Demuirgos, @cicr99

add tests for vote handling
  src/Nethermind/Nethermind.Xdc.Test/Helpers/XdcBlockHeaderBuilder.cs
  src/Nethermind/Nethermind.Xdc.Test/VotesManagerTests.cs
  src/Nethermind/Nethermind.Xdc/VotesManager.cs
Owners: @ak88, @Demuirgos, @cicr99

Fix interface access modifier
  src/Nethermind/Nethermind.Xdc/ISyncInfoManager.cs
Owners: @ak88, @Demuirgos, @cicr99

fix errors after merge
  src/Nethermind/Nethermind.Xdc.Test/VotesManagerTests.cs
  src/Nethermind/Nethermind.Xdc/Types/Vote.cs
  src/Nethermind/Nethermind.Xdc/VotesManager.cs
  src/Nethermind/Nethermind.Xdc/XdcConstants.cs
Owners: @ak88, @Demuirgos, @cicr99

.github/CODEOWNERS:

/.github/ @nethermindeth/core-devops @rubo
/scripts/ @nethermindeth/core-devops @rubo

#/src/ @nethermindeth/core-general
/src/Nethermind/**/I*Config.cs @rubo
#/tools/ @nethermindeth/core-general
#/.* @nethermindeth/core-general

/Dockerfile* @nethermindeth/core-devops @rubo
/LICENSE* @rubo @LukaszRozmej @MarekM25
*.md @rubo @LukaszRozmej @MarekM25

/src/Nethermind/Ethereum.Test.Base/ @flcl42
/src/Nethermind/Nethermind.Abi @LukaszRozmej
/src/Nethermind/Nethermind.Blockchain @LukaszRozmej @MarekM25 @flcl42
/src/Nethermind/Nethermind.Consensus @LukaszRozmej @MarekM25 @flcl42
/src/Nethermind/Nethermind.Crypto @LukaszRozmej @Marchhill
/src/Nethermind/Nethermind.Db.Rocks @LukaszRozmej @asdacap @damian-orzechowski
/src/Nethermind/Nethermind.Era1 @ak88 @Marchhill @smartprogrammer93
/src/Nethermind/Nethermind.Evm.Precompiles @LukaszRozmej @benaadams @rubo @Marchhill
/src/Nethermind/Nethermind.Evm @LukaszRozmej @benaadams @Demuirgos 
/src/Nethermind/Nethermind.ExternalSigner.Plugin @ak88
/src/Nethermind/Nethermind.History @LukaszRozmej @Marchhill
/src/Nethermind/Nethermind.Hive @flcl42 @marcindsobczak 
/src/Nethermind/Nethermind.Init @LukaszRozmej @asdacap
/src/Nethermind/Nethermind.JsonRpc.TraceStore @LukaszRozmej
/src/Nethermind/Nethermind.JsonRpc @LukaszRozmej @benaadams @smartprogrammer93 
/src/Nethermind/Nethermind.Merge.Plugin @LukaszRozmej @MarekM25 @flcl42 @benaadams @Marchhill
/src/Nethermind/Nethermind.Merkleization @ak88 @Marchhill @smartprogrammer93 @flcl42
/src/Nethermind/Nethermind.Network.Discovery @LukaszRozmej @flcl42 @asdacap
/src/Nethermind/Nethermind.Network @LukaszRozmej @flcl42 @asdacap @marcindsobczak
/src/Nethermind/Nethermind.Optimism @emlautarom1 @deffrian
/src/Nethermind/Nethermind.Runner @LukaszRozmej @flcl42
/src/Nethermind/Nethermind.Serialization.Json @LukaszRozmej @benaadams
/src/Nethermind/Nethermind.Serialization.Rlp @LukaszRozmej @Marchhill
/src/Nethermind/Nethermind.Serialization.Ssz @flcl42 @ak88 @Marchhill
/src/Nethermind/Nethermind.Serialization.SszGenerator @flcl42 @ak88 @Marchhill
/src/Nethermind/Nethermind.Shutter @Marchhill
/src/Nethermind/Nethermind.Sockets @LukaszRozmej @benaadams
/src/Nethermind/Nethermind.Specs @smartprogrammer93
/src/Nethermind/Nethermind.State @LukaszRozmej @benaadams @asdacap @flcl42 @damian-orzechowski @tanishqjasoria 
/src/Nethermind/Nethermind.Synchronization @LukaszRozmej @benaadams @asdacap @flcl42 @marcindsobczak
/src/Nethermind/Nethermind.Taiko @smartprogrammer93 @dipkakwani
/src/Nethermind/Nethermind.Trie @LukaszRozmej @benaadams @asdacap @flcl42 @damian-orzechowski @tanishqjasoria
/src/Nethermind/Nethermind.TxPool @LukaszRozmej @benaadams @flcl42 @marcindsobczak
/src/Nethermind/Nethermind.UI @benaadams
/src/Nethermind/Nethermind.Xdc @ak88 @Demuirgos @cicr99
