Repository NethermindEth/nethermind, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nethermindeth/core-devops, @rubo, @LukaszRozmej, @MarekM25

.github/CODEOWNERS:

/.github/ @nethermindeth/core-devops @rubo
/scripts/ @nethermindeth/core-devops @rubo

#/src/ @nethermindeth/core-general
/src/Nethermind/**/I*Config.cs @rubo
#/tools/ @nethermindeth/core-general
#/.* @nethermindeth/core-general

/Dockerfile* @nethermindeth/core-devops @rubo
/LICENSE* @rubo @LukaszRozmej @MarekM25
*.md @rubo @LukaszRozmej @MarekM25

started implementing shutter txsource that searches logs
  src/Nethermind/Nethermind.Merge.AuRa/AuRaMergePlugin.cs
  src/Nethermind/Nethermind.Merge.AuRa/Shutter/EncryptedTxSource.cs
  src/Nethermind/Nethermind.Merge.AuRa/Shutter/ShutterTxSource.cs
Owners: none

Init
  src/Nethermind/Ethereum.Test.Base/LoadBlockchainTestFileStrategy.cs
  src/Nethermind/EthereumTests.sln
  src/Nethermind/Nethermind.State.Test.Runner.Test/Nethermind.State.Test.Runner.Test.csproj
  src/Nethermind/Nethermind.State.Test.Runner.Test/StateTestTxTracerTest.cs
  src/Nethermind/Nethermind.State.Test.Runner/Program.cs
  src/Nethermind/Nethermind.Test.Runner/BlockchainTestsRunner.cs
  src/Nethermind/Nethermind.Test.Runner/Nethermind.Test.Runner.csproj
  src/Nethermind/Nethermind.Test.Runner/Program.cs
  src/Nethermind/Nethermind.Test.Runner/Properties/launchSettings.json
  src/Nethermind/Nethermind.Test.Runner/StateTestRunner.cs
  src/Nethermind/Nethermind.Test.Runner/StateTestTxTrace.cs
  src/Nethermind/Nethermind.Test.Runner/StateTestTxTraceResult.cs
  src/Nethermind/Nethermind.Test.Runner/StateTestTxTraceState.cs
  src/Nethermind/Nethermind.Test.Runner/StateTestTxTracer.cs
  src/Nethermind/Nethermind.Test.Runner/StateTxTraceEntry.cs
  src/Nethermind/Nethermind.Test.Runner/blockchainTest1.json
  src/Nethermind/Nethermind.Test.Runner/statetest1.json
  src/Nethermind/Nethermind.Test.Runner/storagefuzz0.json
Owners: none

minor cleanup
  src/Nethermind/Nethermind.Test.Runner/BlockchainTestsRunner.cs
Owners: none

Add edge case test for `RateLimitedPacketSender`
  src/Nethermind/Nethermind.Network.Test/P2P/RateLimitedPacketSenderTests.cs
  src/Nethermind/Nethermind.Network/P2P/RateLimitedPacketSender.cs
Owners: none

Use regex
  src/Nethermind/Nethermind.Test.Runner/BlockchainTestsRunner.cs
  src/Nethermind/Nethermind.Test.Runner/Properties/launchSettings.json
  src/Nethermind/Nethermind.Test.Runner/StateTestRunner.cs
Owners: none

fix helpText
  src/Nethermind/Nethermind.Test.Runner/Program.cs
Owners: none

[Tests] Improve Test Runner (#6321)
  src/Nethermind/Ethereum.Test.Base/LoadBlockchainTestFileStrategy.cs
  src/Nethermind/EthereumTests.sln
  src/Nethermind/Nethermind.State.Test.Runner.Test/Nethermind.State.Test.Runner.Test.csproj
  src/Nethermind/Nethermind.State.Test.Runner.Test/StateTestTxTracerTest.cs
  src/Nethermind/Nethermind.State.Test.Runner/Program.cs
  src/Nethermind/Nethermind.Test.Runner/BlockchainTestsRunner.cs
  src/Nethermind/Nethermind.Test.Runner/Nethermind.Test.Runner.csproj
  src/Nethermind/Nethermind.Test.Runner/Program.cs
  src/Nethermind/Nethermind.Test.Runner/Properties/launchSettings.json
  src/Nethermind/Nethermind.Test.Runner/StateTestRunner.cs
  src/Nethermind/Nethermind.Test.Runner/StateTestTxTrace.cs
  src/Nethermind/Nethermind.Test.Runner/StateTestTxTraceResult.cs
  src/Nethermind/Nethermind.Test.Runner/StateTestTxTraceState.cs
  src/Nethermind/Nethermind.Test.Runner/StateTestTxTracer.cs
  src/Nethermind/Nethermind.Test.Runner/StateTxTraceEntry.cs
  src/Nethermind/Nethermind.Test.Runner/blockchainTest1.json
  src/Nethermind/Nethermind.Test.Runner/statetest1.json
  src/Nethermind/Nethermind.Test.Runner/storagefuzz0.json
Owners: none

add G1 cyclic field for identity
  src/Nethermind/Nethermind.Merge.AuRa/Shutter/ShutterTxSource.cs
Owners: none

fix test issue
  src/Nethermind/Nethermind.Synchronization.Test/FastBlocks/BodiesSyncFeedTests.cs
  src/Nethermind/Nethermind.Synchronization.Test/FastBlocks/ReceiptsSyncFeedTests.cs
Owners: none

Add missing changes
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Change branch for Kute
  .github/workflows/test-block-processing.yml
Owners: @nethermindeth/core-devops, @rubo

Bump dotnet
  .github/workflows/test-block-processing.yml
Owners: @nethermindeth/core-devops, @rubo

Update config flags
  src/Nethermind/Nethermind.Network/Config/INetworkConfig.cs
  src/Nethermind/Nethermind.Network/Config/NetworkConfig.cs
Owners: @rubo

Set throttling for `PacketSender`
  src/Nethermind/Nethermind.Init/Steps/InitializeNetwork.cs
  src/Nethermind/Nethermind.Network/Rlpx/NettyHandshakeHandler.cs
Owners: none

Set throttling for `ProtocolHandler`
  src/Nethermind/Nethermind.Init/Steps/InitializeNetwork.cs
  src/Nethermind/Nethermind.Network/ProtocolsManager.cs
Owners: none
