Repository NethermindEth/nethermind, changes with the owners that .github/CODEOWNERS names for each.
All owners: @nethermindeth/core-devops, @rubo, @LukaszRozmej, @MarekM25

fix
  src/Nethermind/Nethermind.AuRa.Test/AuRaBlockProducerTests.cs
Owners: none

Better fix
  src/Nethermind/Nethermind.AuRa.Test/AuRaBlockProducerTests.cs
Owners: none

Fix `TestWillExit`
  src/Nethermind/Nethermind.Synchronization.Test/ExitOnSyncCompleteTests.cs
Owners: none

Retry fix
  src/Nethermind/Nethermind.Synchronization.Test/ExitOnSyncCompleteTests.cs
Owners: none

was a bit exaggerated
  src/Nethermind/Nethermind.Synchronization.Test/ExitOnSyncCompleteTests.cs
Owners: none

Feature/ratelimit discovery messages (#6265)
  src/Nethermind/Nethermind.Network.Discovery.Test/DiscoveryManagerTests.cs
  src/Nethermind/Nethermind.Network.Discovery.Test/NettyDiscoveryHandlerTests.cs
  src/Nethermind/Nethermind.Network.Discovery.Test/NodeLifecycleManagerTests.cs
  src/Nethermind/Nethermind.Network.Discovery/DiscoveryConfig.cs
  src/Nethermind/Nethermind.Network.Discovery/DiscoveryManager.cs
  src/Nethermind/Nethermind.Network.Discovery/IDiscoveryConfig.cs
  src/Nethermind/Nethermind.Network.Discovery/IDiscoveryManager.cs
  src/Nethermind/Nethermind.Network.Discovery/IMsgSender.cs
  src/Nethermind/Nethermind.Network.Discovery/Lifecycle/INodeLifecycleManager.cs
  src/Nethermind/Nethermind.Network.Discovery/Lifecycle/NodeLifecycleManager.cs
  src/Nethermind/Nethermind.Network.Discovery/NettyDiscoveryHandler.cs
  src/Nethermind/Nethermind.Network.Discovery/NodesLocator.cs
  src/Nethermind/Nethermind.Network.Test/PeerManagerTests.cs
Owners: @rubo

Add more logs
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Change rpc_urls
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Fix flaky tests `Can_produce_first_block_when_private_chains_allowed` and `TestWillExit` (#6308)
  src/Nethermind/Nethermind.AuRa.Test/AuRaBlockProducerTests.cs
  src/Nethermind/Nethermind.Synchronization.Test/ExitOnSyncCompleteTests.cs
Owners: none

Change approach of node creation
  .github/workflows/rpc-comparison.yaml
  .github/workflows/run-a-single-node-from-branch.yml
Owners: @nethermindeth/core-devops, @rubo

Comment out
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Fix needs
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

verify number of transactions in execution payload
  src/Nethermind/Nethermind.Merge.AuRa.Test/AuRaMergeEngineModuleTests.cs
Owners: none

Change a way of applying artifacts and rpc_urls
  .github/workflows/rpc-comparison.yaml
  .github/workflows/run-a-single-node-from-branch.yml
Owners: @nethermindeth/core-devops, @rubo

Adjust needs
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Adjust
  .github/workflows/rpc-comparison.yaml
  .github/workflows/run-a-single-node-from-branch.yml
Owners: @nethermindeth/core-devops, @rubo

Resume snapshot download only if 206
  src/Nethermind/Nethermind.Init.Snapshot/InitDatabaseSnapshot.cs
Owners: none

Add missing variables
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Fix invalid file read
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Fix temp infura value
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Fix to much '
  .github/workflows/run-a-single-node-from-branch.yml
Owners: @nethermindeth/core-devops, @rubo

Fix artifact save
  .github/workflows/rpc-comparison.yaml
  .github/workflows/run-a-single-node-from-branch.yml
Owners: @nethermindeth/core-devops, @rubo

Fix branches fetching
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Temp remove needs
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Switch to first job needs
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Fix list fill
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Invalid path
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Add verbose logging
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

removed timeout as its default
  src/Nethermind/Nethermind.Runner/configs/joc-mainnet.cfg
  src/Nethermind/Nethermind.Runner/configs/joc-testnet.cfg
Owners: none

Adjust
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

add missing repo
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Rollback run_id
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Fix needs
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Update packages
  src/Nethermind/Directory.Packages.props
  src/Nethermind/Nethermind.Db.Test/RocksDbTests.cs
  src/Nethermind/Nethermind.sln
Owners: none

Remove Netwonsoft
  src/Nethermind/Nethermind.Core/TypeDiscovery.cs
Owners: none

refactor block production test, remove reorg
  src/Nethermind/Nethermind.Core.Test/Blockchain/TestBlockchain.cs
  src/Nethermind/Nethermind.Merge.AuRa.Test/AuRaMergeEngineModuleTests.cs
Owners: none

Delete after unzipping & new hash
  src/Nethermind/Nethermind.Init.Snapshot/InitDatabaseSnapshot.cs
  src/Nethermind/Nethermind.Runner/configs/op-mainnet.cfg
Owners: none

Trigger
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

Fix formatting
  src/Nethermind/Nethermind.Init.Snapshot/InitDatabaseSnapshot.cs
Owners: none

Fix needs
  .github/workflows/rpc-comparison.yaml
Owners: @nethermindeth/core-devops, @rubo

.github/CODEOWNERS:

/.github/ @nethermindeth/core-devops @rubo
/scripts/ @nethermindeth/core-devops @rubo

#/src/ @nethermindeth/core-general
/src/Nethermind/**/I*Config.cs @rubo
#/tools/ @nethermindeth/core-general
#/.* @nethermindeth/core-general

/Dockerfile* @nethermindeth/core-devops @rubo
/LICENSE* @rubo @LukaszRozmej @MarekM25
*.md @rubo @LukaszRozmej @MarekM25
