Repository NethermindEth/nethermind, pull requests merged in 2022-10, with the labels that each got.

#4732 Refactor/preparep api/function like opcodes
  src/Nethermind/Nethermind.Evm.Test/BytecodeBuilderExtensionsTests.cs
  src/Nethermind/Nethermind.Evm/ByteCodeBuilderExtensions.cs
Labels: refactoring

#4641 Disconnect peers requesting snap data
  src/Nethermind/Nethermind.Network/P2P/Subprotocols/Snap/SnapProtocolHandler.cs
Labels: network, SnapSync

#4664 Disable `snap` capability after healing instead of `StateRanges`
  src/Nethermind/Nethermind.Init/Steps/InitializeNetwork.cs
  src/Nethermind/Nethermind.Network/SnapCapabilitySwitcher.cs
  src/Nethermind/Nethermind.Synchronization/SnapSync/ProgressTracker.cs
Labels: network, SnapSync

#4749 Remove pre `eth66` network items
  src/Nethermind/Nethermind.Network.Test/P2P/P2PProtocolHandlerTests.cs
  src/Nethermind/Nethermind.Network.Test/P2P/P2PProtocolInfoProviderTests.cs
  src/Nethermind/Nethermind.Network.Test/ProtocolsManagerTests.cs
  src/Nethermind/Nethermind.Network/P2P/ProtocolHandlers/P2PProtocolHandler.cs
  src/Nethermind/Nethermind.Network/ProtocolsManager.cs
Labels: network
