Repository NethermindEth/nethermind, pull requests merged in 2022-11, with the labels that each got.

#4561 Add support for eth/67
  src/Nethermind/Nethermind.Init/Steps/InitializeNetwork.cs
  src/Nethermind/Nethermind.Network.Test/P2P/Subprotocols/Eth/V66/Eth66ProtocolHandlerTests.cs
  src/Nethermind/Nethermind.Network.Test/P2P/Subprotocols/Eth/V67/Eth67ProtocolHandlerTests.cs
  src/Nethermind/Nethermind.Network/P2P/Subprotocols/Eth/V67/Eth67ProtocolHandler.cs
  src/Nethermind/Nethermind.Network/ProtocolsManager.cs
Labels: network, sync, EIP

#4886 Fix enode parsing
  src/Nethermind/Nethermind.Config/Enode.cs
  src/Nethermind/Nethermind.Network.Test/PeerManagerTests.cs
Labels: rpc

#4815 Added config DNS discovery Resolves #4321
  src/Nethermind/Nethermind.Init/Steps/InitializeNetwork.cs
  src/Nethermind/Nethermind.Network.Dns.Test/EnrDiscoveryTests.cs
  src/Nethermind/Nethermind.Network.Dns/EnrDiscovery.cs
  src/Nethermind/Nethermind.Network.Dns/EnrTreeCrawler.cs
  src/Nethermind/Nethermind.Network/Config/INetworkConfig.cs
  src/Nethermind/Nethermind.Network/Config/NetworkConfig.cs
Labels: network
