Repository NethermindEth/nethermind, pull requests merged in 2023-10, with the labels that each got.

#6151 Perf/improve writebatch parallelism
  src/Nethermind/Nethermind.Blockchain/Receipts/PersistentReceiptStorage.cs
  src/Nethermind/Nethermind.Core.Test/SortedBatchTests.cs
  src/Nethermind/Nethermind.Core/SortedBatch.cs
  src/Nethermind/Nethermind.Db.Rocks/DbOnTheRocks.cs
  src/Nethermind/Nethermind.Db.Test/DbOnTheRocksTests.cs
  src/Nethermind/Nethermind.State.Test/StateTreeTests.cs
  src/Nethermind/Nethermind.Trie/Pruning/TrieStore.cs
Labels: forpathbasedstate

#6192 Make EIP-4844 parameters configurable
  src/Nethermind/Chains/chiado.json
  src/Nethermind/Chains/gnosis.json
  src/Nethermind/Nethermind.Blockchain.Test/TransactionSelectorTests.cs
  src/Nethermind/Nethermind.Blockchain.Test/Validators/ShardBlobBlockValidatorTests.cs
  src/Nethermind/Nethermind.Blockchain.Test/Validators/TxValidatorTests.cs
  src/Nethermind/Nethermind.Core/Eip4844Constants.cs
  src/Nethermind/Nethermind.Evm.Test/BlobGasCalculatorTests.cs
  src/Nethermind/Nethermind.Evm.Test/TransactionProcessorEip4844Tests.cs
  src/Nethermind/Nethermind.Evm/BlobGasCalculator.cs
  src/Nethermind/Nethermind.Specs.Test/ChainSpecStyle/ChainSpecBasedSpecProviderTests.cs
  src/Nethermind/Nethermind.Specs/ChainSpecStyle/ChainParameters.cs
  src/Nethermind/Nethermind.Specs/ChainSpecStyle/ChainSpecLoader.cs
  src/Nethermind/Nethermind.Specs/ChainSpecStyle/Json/ChainSpecParamsJson.cs
  src/Nethermind/Nethermind.TxPool/TransactionExtensions.cs
  tools/SendBlobs/BlobSender.cs
Labels: configuration, eip-4844

#6204 Fix Docker image name handling
  .github/workflows/publish-docker.yml
Labels: bug, devops

#6205 Rename EIP-4844 chain spec parameters
  src/Nethermind/Chains/chiado.json
  src/Nethermind/Chains/gnosis.json
  src/Nethermind/Nethermind.Core/Eip4844Constants.cs
  src/Nethermind/Nethermind.Specs/ChainSpecStyle/ChainParameters.cs
  src/Nethermind/Nethermind.Specs/ChainSpecStyle/ChainSpecLoader.cs
  src/Nethermind/Nethermind.Specs/ChainSpecStyle/Json/ChainSpecParamsJson.cs
Labels: configuration, eip-4844
