Repository NethermindEth/nethermind, pull requests merged in 2023-07, with the labels that each got.

#4704 EIP-6780: SELFDESTRUCT only in same transaction
  src/Nethermind/Nethermind.Core/Specs/IReleaseSpec.cs
  src/Nethermind/Nethermind.Evm.Test/Eip6780Tests.cs
  src/Nethermind/Nethermind.Evm/EvmState.cs
  src/Nethermind/Nethermind.Evm/VirtualMachine.cs
  src/Nethermind/Nethermind.Specs.Test/OverridableReleaseSpec.cs
  src/Nethermind/Nethermind.Specs/ChainSpecStyle/ChainParameters.cs
  src/Nethermind/Nethermind.Specs/ChainSpecStyle/ChainSpecBasedSpecProvider.cs
  src/Nethermind/Nethermind.Specs/ChainSpecStyle/ChainSpecLoader.cs
  src/Nethermind/Nethermind.Specs/ChainSpecStyle/Json/ChainSpecParamsJson.cs
  src/Nethermind/Nethermind.Specs/Forks/16_Cancun.cs
  src/Nethermind/Nethermind.Specs/ReleaseSpec.cs
  src/Nethermind/Nethermind.Specs/SystemTransactionReleaseSpec.cs
Labels: eip

#5883 Fix RocksDB dependency issues on macOS x64
  src/Nethermind/Directory.Packages.props
Labels: bug, rocksdb

#5873 Use ready to run
  src/Nethermind/Nethermind.Runner/Nethermind.Runner.csproj
Labels: performance

#5892 Include block count when processing multiple blocks
  src/Nethermind/Nethermind.Consensus/Processing/ProcessingStats.cs
Labels: logging

#5871 Decrease `MaxSizeOfTxForBroadcast` from 128KB to 4KB
  src/Nethermind/Nethermind.TxPool.Test/TxBroadcasterTests.cs
  src/Nethermind/Nethermind.TxPool/TransactionExtensions.cs
Labels: network

#5884 Fix length calculations of blob-type txs
  src/Nethermind/Nethermind.Core.Test/Encoding/ShardBlobTxDecoderTests.cs
  src/Nethermind/Nethermind.Network.Test/P2P/Subprotocols/Eth/V62/Eth62ProtocolHandlerTests.cs
  src/Nethermind/Nethermind.Serialization.Rlp/TxDecoder.cs
  src/Nethermind/Nethermind.TxPool.Test/TxPoolTests.cs
  src/Nethermind/Nethermind.TxPool/NetworkTransactionSizeCalculator.cs
  src/Nethermind/Nethermind.TxPool/TransactionExtensions.cs
Labels: network, cancun

#5877 Evm optimisations
  src/Nethermind/Nethermind.Evm/EvmPooledMemory.cs
  src/Nethermind/Nethermind.Evm/EvmStack.cs
  src/Nethermind/Nethermind.Evm/Tracing/ITxTracer.cs
  src/Nethermind/Nethermind.Evm/VirtualMachine.cs
  src/Nethermind/Nethermind.Evm/ZeroPaddedSpan.cs
Labels: performance, minor

#5909 Use AllocateUninitializedArray for LargerArrayPool
  src/Nethermind/Nethermind.Core/Buffers/LargerArrayPool.cs
Labels: performance

#5882 Fix JSON-RPC replay tool
  tools/Nethermind.Tools.Kute/Application.cs
  tools/Nethermind.Tools.Kute/Auth/JwtAuth.cs
  tools/Nethermind.Tools.Kute/Auth/TtlAuth.cs
  tools/Nethermind.Tools.Kute/Config.cs
  tools/Nethermind.Tools.Kute/JsonRpc.cs
  tools/Nethermind.Tools.Kute/JsonRpcSubmitter/HttpJsonRpcSubmitter.cs
  tools/Nethermind.Tools.Kute/JsonRpcSubmitter/IJsonRpcSubmitter.cs
  tools/Nethermind.Tools.Kute/JsonRpcSubmitter/NullJsonRpcSubmitter.cs
  tools/Nethermind.Tools.Kute/Program.cs
  tools/Nethermind.Tools.Kute/README.md
Labels: tools

#5927 Remove `v` of non-legacy tx signature from RPC response
  src/Nethermind/Nethermind.JsonRpc.Test/Modules/Eth/EthRpcModuleTests.cs
  src/Nethermind/Nethermind.JsonRpc/Data/TransactionForRpc.cs
Labels: bug, rpc

#5937 Restore `v` in tx signature for Geth compatibility
  src/Nethermind/Nethermind.JsonRpc.Test/Modules/Eth/EthRpcModuleTests.cs
  src/Nethermind/Nethermind.JsonRpc/Data/TransactionForRpc.cs
Labels: rpc

#5886 Request pooled txs only up to max message size
  src/Nethermind/Nethermind.Init/Steps/InitializeNetwork.cs
  src/Nethermind/Nethermind.Network.Test/P2P/Subprotocols/Eth/V65/Eth65ProtocolHandlerTests.cs
  src/Nethermind/Nethermind.Network.Test/P2P/Subprotocols/Eth/V65/PooledTxsRequestorTests.cs
  src/Nethermind/Nethermind.Network.Test/P2P/Subprotocols/Eth/V66/Eth66ProtocolHandlerTests.cs
  src/Nethermind/Nethermind.Network.Test/P2P/Subprotocols/Eth/V67/Eth67ProtocolHandlerTests.cs
  src/Nethermind/Nethermind.Network.Test/P2P/Subprotocols/Eth/V68/Eth68ProtocolHandlerTests.cs
  src/Nethermind/Nethermind.Network.Test/ProtocolsManagerTests.cs
  src/Nethermind/Nethermind.Network/P2P/Subprotocols/Eth/IPooledTxsRequestor.cs
  src/Nethermind/Nethermind.Network/P2P/Subprotocols/Eth/PooledTxsRequestor.cs
  src/Nethermind/Nethermind.Network/P2P/Subprotocols/Eth/V65/PooledTxsRequestor.cs
  src/Nethermind/Nethermind.Network/P2P/Subprotocols/Eth/V68/Eth68ProtocolHandler.cs
  src/Nethermind/Nethermind.Network/ProtocolsManager.cs
  src/Nethermind/Nethermind.TxPool.Test/TxBroadcasterTests.cs
Labels: network

#5906 Update RocksDB package
  src/Nethermind/Directory.Packages.props
  src/Nethermind/Nethermind.Db.Test/RocksDbTests.cs
Labels: rocksdb

#5908 Unify Nethermind executable name
  .github/workflows/build-nethermind-packages.yml
  .github/workflows/release.yml
  Dockerfile
  Dockerfile.dev
  Dockerfile.launcher
  scripts/deployment/archive-packages.sh
  scripts/deployment/build-launcher.sh
  scripts/deployment/build-runner.sh
  scripts/execution.sh
  scripts/infra.sh
  scripts/nethermind.service
  src/Nethermind/Nethermind.Cli/Nethermind.Cli.csproj
  src/Nethermind/Nethermind.Overseer.Test/Framework/ProcessBuilder.cs
  src/Nethermind/Nethermind.Runner/Dockerfile
  src/Nethermind/Nethermind.Runner/Nethermind.Runner.csproj
Labels: devops, release

#5965 Restore old executable name for PPA
  scripts/execution.sh
Labels: devops

#5956 Add unit test for edge-case TxPool scenario
  src/Nethermind/Nethermind.TxPool.Test/TxPoolTests.cs
Labels: test

#5967 Rename data gas to blob gas
  src/Nethermind/Chains/eip4844_local.json
  src/Nethermind/Nethermind.Blockchain.Test/TransactionSelectorTests.cs
  src/Nethermind/Nethermind.Blockchain.Test/Validators/ShardBlobBlockValidatorTests.cs
  src/Nethermind/Nethermind.Blockchain.Test/Validators/TxValidatorTests.cs
  src/Nethermind/Nethermind.Consensus/Processing/BlockProcessor.BlockProductionTransactionPicker.cs
  src/Nethermind/Nethermind.Consensus/Processing/BlockProcessor.cs
  src/Nethermind/Nethermind.Consensus/Producers/TxPoolTxSource.cs
  src/Nethermind/Nethermind.Consensus/Validators/BlockValidator.cs
  src/Nethermind/Nethermind.Consensus/Validators/HeaderValidator.cs
  src/Nethermind/Nethermind.Consensus/Validators/TxValidator.cs
  src/Nethermind/Nethermind.Core.Test/Blockchain/TestBlockchain.cs
  src/Nethermind/Nethermind.Core.Test/Builders/BlockBuilder.cs
  src/Nethermind/Nethermind.Core.Test/Builders/BlockHeaderBuilder.cs
  src/Nethermind/Nethermind.Core.Test/Builders/TransactionBuilder.cs
  src/Nethermind/Nethermind.Core.Test/Encoding/BlockDecoderTests.cs
  src/Nethermind/Nethermind.Core.Test/Encoding/HeaderDecoderTests.cs
  src/Nethermind/Nethermind.Core/Block.cs
  src/Nethermind/Nethermind.Core/BlockHeader.cs
  src/Nethermind/Nethermind.Core/Eip4844Constants.cs
  src/Nethermind/Nethermind.Core/Transaction.cs
  src/Nethermind/Nethermind.Evm.Test/DataGasCalculatorTests.cs
  src/Nethermind/Nethermind.Evm.Test/TransactionProcessorEip4844Tests.cs
  src/Nethermind/Nethermind.Evm.Test/VirtualMachineTestsBase.cs
  src/Nethermind/Nethermind.Evm/DataGasCalculator.cs
  src/Nethermind/Nethermind.Evm/TransactionExtensions.cs
  src/Nethermind/Nethermind.Evm/TransactionProcessing/TransactionProcessor.cs
  src/Nethermind/Nethermind.Evm/VirtualMachine.cs
  src/Nethermind/Nethermind.Facade.Test/BlockchainBridgeTests.cs
  src/Nethermind/Nethermind.Facade/BlockchainBridge.cs
  src/Nethermind/Nethermind.JsonRpc.Test/Modules/Eth/EthRpcModuleTests.cs
  src/Nethermind/Nethermind.JsonRpc/Data/ReceiptForRpc.cs
  src/Nethermind/Nethermind.JsonRpc/Data/TransactionForRpc.cs
  src/Nethermind/Nethermind.JsonRpc/Modules/Eth/BlockForRpc.cs
  src/Nethermind/Nethermind.JsonRpc/Modules/Trace/TraceRpcModule.cs
  src/Nethermind/Nethermind.Merge.Plugin.Test/EngineModuleTests.HelperFunctions.cs
  src/Nethermind/Nethermind.Merge.Plugin.Test/EngineModuleTests.V3.cs
  src/Nethermind/Nethermind.Merge.Plugin/BlockProduction/PostMergeBlockProducer.cs
  src/Nethermind/Nethermind.Merge.Plugin/Data/ExecutionPayloadV3.cs
  src/Nethermind/Nethermind.Serialization.Rlp/HeaderDecoder.cs
  src/Nethermind/Nethermind.Serialization.Rlp/TxDecoder.cs
  src/Nethermind/Nethermind.Specs/ChainSpecStyle/ChainSpecLoader.cs
  src/Nethermind/Nethermind.Specs/ChainSpecStyle/Json/ChainSpecGenesisJson.cs
Labels: eip-4844

#5962 Revise Docker publishing workflow
  .github/workflows/build-nethermind-docker-images.yml
  .github/workflows/build-nethtest-hive-docker-images.yml
  .github/workflows/publish-docker.yml
  .github/workflows/run-a-single-node-from-branch.yml
  Dockerfile
  Dockerfile.dev
Labels: devops
