Repository NethermindEth/nethermind, pull requests merged in 2023-12, with the labels that each got.

#6361 Revise docs generation
  .github/workflows/update-docs.yml
  src/Nethermind/Nethermind.AccountAbstraction/IAccountAbstractionConfig.cs
  src/Nethermind/Nethermind.Api/Extensions/IPluginConfig.cs
  src/Nethermind/Nethermind.Config/IBlocksConfig.cs
  src/Nethermind/Nethermind.Config/INoCategoryConfig.cs
  src/Nethermind/Nethermind.JsonRpc/IJsonRpcConfig.cs
  src/Nethermind/Nethermind.Merge.Plugin/IMergeConfig.cs
  src/Nethermind/Nethermind.Mev/IMevConfig.cs
  tools/docgen/ConfigGenerator.cs
  tools/docgen/JsonRpcGenerator.cs
Labels: docs

#6389 Fix reference assemblies package path
  src/Nethermind/Nethermind.ReferenceAssemblies/Nethermind.ReferenceAssemblies.csproj
Labels: bug, release

#6388 Revise and update workflows
  .github/workflows/alert-on-issue-open-event.yml
  .github/workflows/build-bls-libs.yml
  .github/workflows/build-gmp-libs.yml
  .github/workflows/build-mcl-libs.yml
  .github/workflows/build-nethermind-packages.yml
  .github/workflows/build-solutions.yml
  .github/workflows/code-formatting.yml
  .github/workflows/codeql.yml
  .github/workflows/hive-tests.yml
  .github/workflows/nethermind-tests.yml
  .github/workflows/posdao-tests.yml
  .github/workflows/publish-docker.yml
  .github/workflows/publish-nuget.yml
  .github/workflows/publish-packages.yml
  .github/workflows/release.yml
  .github/workflows/rpc-comparison.yml
  .github/workflows/run-truffle-smoke-tests.yml
  .github/workflows/update-docs.yml
Labels: devops, release

#6404 Remove Nethermind launcher build
  .github/workflows/build-nethermind-packages.yml
  .github/workflows/release.yml
  Dockerfile.launcher
  scripts/deployment/build-cli.sh
  scripts/deployment/build-launcher.sh
  scripts/deployment/build-runner.sh
Labels: devops, release

#6414 Fix POSDAO tests workflow
  .github/workflows/posdao-tests.yml
Labels: devops

#6409 [Cancun]{Spec} Goerli config and fix for `ChainSpecBasedSpecProvider`
  src/Nethermind/Chains/goerli.json
  src/Nethermind/Nethermind.Network.Test/ForkInfoTests.cs
  src/Nethermind/Nethermind.Specs.Test/ChainSpecStyle/ChainSpecBasedSpecProviderTests.cs
  src/Nethermind/Nethermind.Specs.Test/ChainSpecStyle/ChainSpecLoaderTests.cs
  src/Nethermind/Nethermind.Specs.Test/CustomSpecProvider.cs
  src/Nethermind/Nethermind.Specs.Test/CustomSpecProviderTests.cs
  src/Nethermind/Nethermind.Specs/ChainSpecStyle/ChainSpecBasedSpecProvider.cs
  src/Nethermind/Nethermind.Specs/ChainSpecStyle/SpecProviderBase.cs
  src/Nethermind/Nethermind.Specs/Forks/16_Cancun.cs
  src/Nethermind/Nethermind.Specs/GoerliSpecProvider.cs
Labels: goerli

#6430 Enable blob txs support in goerli configs
  src/Nethermind/Nethermind.Runner.Test/ConfigFilesTests.cs
  src/Nethermind/Nethermind.Runner/configs/goerli.cfg
  src/Nethermind/Nethermind.Runner/configs/goerli_archive.cfg
Labels: goerli, eip-4844

#6431 Update configs tests, add FastSyncCatchUpHeightDelta for holesky
  src/Nethermind/Nethermind.Config.Test/ConfigFileTestsBase.cs
  src/Nethermind/Nethermind.Runner.Test/ConfigFilesTests.cs
  src/Nethermind/Nethermind.Runner/configs/holesky.cfg
Labels: configs
