Repository NethermindEth/nethermind, pull requests merged in 2024-10, with the labels that each got.

#7576 Revise configuration docs
  src/Nethermind/Nethermind.Config/IBlocksConfig.cs
  src/Nethermind/Nethermind.Consensus/Processing/CensorshipDetector/ICensorshipDetectorConfig.cs
Labels: docs

#7566 Reformat docs and add a new CLI option
  .github/workflows/build-tools.yml
  .github/workflows/update-docs.yml
  tools/DocGen/.editorconfig
  tools/DocGen/ConfigGenerator.cs
  tools/DocGen/DBSizeGenerator.cs
  tools/DocGen/DocGen.csproj
  tools/DocGen/DocGen.sln
  tools/DocGen/JsonRpcGenerator.cs
  tools/DocGen/MetricsGenerator.cs
  tools/DocGen/Program.cs
  tools/DocGen/Properties/launchSettings.json
  tools/DocGen/nuget.config
Labels: docs

#7513 Disable txpool if SequencerUrl is set
  src/Nethermind/Nethermind.Init/Steps/InitializeBlockchain.cs
  src/Nethermind/Nethermind.Optimism/InitializeBlockchainOptimism.cs
  src/Nethermind/Nethermind.Optimism/Rpc/RegisterOptimismRpcModules.cs
Labels: optimism

#7614 Block beacon header sync until global pivot is updated
  src/Nethermind/Nethermind.Merge.Plugin.Test/EngineModuleTests.Setup.cs
  src/Nethermind/Nethermind.Merge.Plugin/Handlers/ForkchoiceUpdatedHandler.cs
  src/Nethermind/Nethermind.Merge.Plugin/Synchronization/BeaconSync.cs
  src/Nethermind/Nethermind.Merge.Plugin/Synchronization/PivotUpdator.cs
  src/Nethermind/Nethermind.Synchronization/IBeaconSyncStrategy.cs
Labels: bug, sync

#7646 Add metrics for `engine_getBlobsV1`
  src/Nethermind/Nethermind.Merge.Plugin/Handlers/GetBlobsHandler.cs
  src/Nethermind/Nethermind.Merge.Plugin/Metrics.cs
Labels: metrics

#7089 Optimization/pre warm intra block cache fix nonce collisions
  src/Nethermind/Nethermind.Consensus/Processing/BlockCachePreWarmer.cs
Labels: performance

#7610 Refactor enums docs
  src/Nethermind/Nethermind.Api/IInitConfig.cs
  src/Nethermind/Nethermind.Blockchain/Synchronization/ISyncConfig.cs
  src/Nethermind/Nethermind.Consensus/Processing/DumpOptions.cs
  src/Nethermind/Nethermind.Db/FullPruningCompletionBehavior.cs
  src/Nethermind/Nethermind.Db/FullPruningTrigger.cs
  src/Nethermind/Nethermind.Db/IPruningConfig.cs
  src/Nethermind/Nethermind.Db/PruningMode.cs
  src/Nethermind/Nethermind.Evm/Tracing/ParityStyle/ParityTraceTypes.cs
  src/Nethermind/Nethermind.JsonRpc/RpcRecorderState.cs
  src/Nethermind/Nethermind.Merge.Plugin/GC/IGCStrategy.cs
  src/Nethermind/Nethermind.Merge.Plugin/IMergeConfig.cs
  src/Nethermind/Nethermind.TxPool/BlobsSupportMode.cs
  src/Nethermind/Nethermind.TxPool/ITxPoolConfig.cs
  tools/DocGen/ConfigGenerator.cs
Labels: docs

#7586 Add pivot updator for optimism
  src/Nethermind/Nethermind.Merge.Plugin.Test/Synchronization/PivotUpdatorTests.cs
  src/Nethermind/Nethermind.Merge.Plugin/Handlers/BlockCacheService.cs
  src/Nethermind/Nethermind.Merge.Plugin/Handlers/ForkchoiceUpdatedHandler.cs
  src/Nethermind/Nethermind.Merge.Plugin/Handlers/IBlockCacheService.cs
  src/Nethermind/Nethermind.Merge.Plugin/Synchronization/BeaconSync.cs
  src/Nethermind/Nethermind.Merge.Plugin/Synchronization/PivotUpdator.cs
  src/Nethermind/Nethermind.Merge.Plugin/Synchronization/UnsafePivotUpdator.cs
  src/Nethermind/Nethermind.Optimism/OptimismPlugin.cs
  src/Nethermind/Nethermind.Runner/configs/base-mainnet.cfg
  src/Nethermind/Nethermind.Runner/configs/base-sepolia.cfg
  src/Nethermind/Nethermind.Runner/configs/op-mainnet.cfg
  src/Nethermind/Nethermind.Runner/configs/op-sepolia.cfg
  src/Nethermind/Nethermind.Synchronization/IBeaconSyncStrategy.cs
Labels: sync, optimism

#7672 Switch to `System.CommandLine` for tools
  tools/DocGen/DocGen.csproj
  tools/DocGen/Program.cs
  tools/DocGen/Properties/launchSettings.json
  tools/HiveCompare/HiveCompare/HiveCompare.csproj
  tools/HiveCompare/HiveCompare/Program.cs
  tools/Nethermind.Tools.Kute/Config.cs
  tools/Nethermind.Tools.Kute/Nethermind.Tools.Kute.csproj
  tools/Nethermind.Tools.Kute/Program.cs
  tools/SendBlobs/Program.cs
  tools/SendBlobs/SendBlobs.csproj
  tools/SendBlobs/SetupCli.cs
  tools/nuget.config
Labels: refactoring
