Repository NethermindEth/nethermind, pull requests merged in 2024-08, with the labels that each got.

#7322 Add `engine_getBlobsV1`
  src/Nethermind/Nethermind.Merge.Plugin.Test/EngineModuleTests.Setup.cs
  src/Nethermind/Nethermind.Merge.Plugin.Test/EngineModuleTests.V1.cs
  src/Nethermind/Nethermind.Merge.Plugin.Test/EngineModuleTests.V3.cs
  src/Nethermind/Nethermind.Merge.Plugin/Data/BlobAndProofV1.cs
  src/Nethermind/Nethermind.Merge.Plugin/Data/GetBlobsV1Result.cs
  src/Nethermind/Nethermind.Merge.Plugin/EngineRpcModule.Cancun.cs
  src/Nethermind/Nethermind.Merge.Plugin/EngineRpcModule.cs
  src/Nethermind/Nethermind.Merge.Plugin/Handlers/EngineRpcCapabilitiesProvider.cs
  src/Nethermind/Nethermind.Merge.Plugin/Handlers/GetBlobsHandler.cs
  src/Nethermind/Nethermind.Merge.Plugin/IEngineRpcModule.Cancun.cs
  src/Nethermind/Nethermind.Merge.Plugin/MergePlugin.cs
  src/Nethermind/Nethermind.Optimism/OptimismPlugin.cs
  src/Nethermind/Nethermind.Optimism/OptimismReceiptStorageDecoder.cs
  src/Nethermind/Nethermind.TxPool.Test/TxPoolTests.Blobs.cs
  src/Nethermind/Nethermind.TxPool/Collections/BlobTxDistinctSortedPool.cs
  src/Nethermind/Nethermind.TxPool/Collections/PersistentBlobTxDistinctSortedPool.cs
  src/Nethermind/Nethermind.TxPool/ITxPool.cs
  src/Nethermind/Nethermind.TxPool/LightTransaction.cs
  src/Nethermind/Nethermind.TxPool/NullTxPool.cs
  src/Nethermind/Nethermind.TxPool/TxPool.cs
Labels: engine

#6529 [Fix] `MultiSyncModeSelector`.`Changed` event propagation being blocked by SyncFeed
  src/Nethermind/Nethermind.Core/MeasuredProgress.cs
  src/Nethermind/Nethermind.Synchronization.Test/ParallelSync/MultiSyncModeSelectorFastSyncTests.cs
  src/Nethermind/Nethermind.Synchronization.Test/SyncReportTest.cs
  src/Nethermind/Nethermind.Synchronization/FastBlocks/BodiesSyncFeed.cs
  src/Nethermind/Nethermind.Synchronization/FastBlocks/FastHeadersSyncFeed.cs
  src/Nethermind/Nethermind.Synchronization/FastBlocks/ReceiptsSyncFeed.cs
  src/Nethermind/Nethermind.Synchronization/ParallelSync/ActivatedSyncFeed.cs
  src/Nethermind/Nethermind.Synchronization/Reporting/SyncReport.cs
Labels: sync, fix, Smoke Tests Needed

#7363 Remove obsolete flag `FastBlocks` from configs
  src/Nethermind/Nethermind.Runner/configs/energyweb.cfg
  src/Nethermind/Nethermind.Runner/configs/exosama.cfg
  src/Nethermind/Nethermind.Runner/configs/gnosis.cfg
  src/Nethermind/Nethermind.Runner/configs/holesky.cfg
  src/Nethermind/Nethermind.Runner/configs/joc-mainnet.cfg
  src/Nethermind/Nethermind.Runner/configs/mainnet.cfg
  src/Nethermind/Nethermind.Runner/configs/poacore.cfg
Labels: configs

#7300 Upgrade to RocksDB v9.4.0
  src/Nethermind/Directory.Packages.props
  src/Nethermind/Nethermind.Db.Test/RocksDbTests.cs
Labels: rocksdb

#7360 Reduce collection resizing costs
  src/Nethermind/Nethermind.Consensus/Processing/BlockCachePreWarmer.cs
  src/Nethermind/Nethermind.Consensus/Processing/BlockProcessor.cs
  src/Nethermind/Nethermind.Consensus/Processing/IBlockCachePreWarmer.cs
  src/Nethermind/Nethermind.Core.Test/Collections/ConcurrentDictionaryTests.cs
  src/Nethermind/Nethermind.Core/Caching/ClockCache.cs
  src/Nethermind/Nethermind.Core/Caching/ClockKeyCache.cs
  src/Nethermind/Nethermind.Core/Collections/CollectionExtensions.cs
  src/Nethermind/Nethermind.Core/Resettables/ResettableHashSet.cs
  src/Nethermind/Nethermind.State/IWorldState.cs
  src/Nethermind/Nethermind.State/PartialStorageProviderBase.cs
  src/Nethermind/Nethermind.State/PersistentStorageProvider.cs
  src/Nethermind/Nethermind.State/PreBlockCaches.cs
  src/Nethermind/Nethermind.State/StateProvider.cs
  src/Nethermind/Nethermind.State/WorldState.cs
  src/Nethermind/Nethermind.Trie/PreCachedTrieStore.cs
  src/Nethermind/Nethermind.Trie/Pruning/TrieStore.cs
  src/Nethermind/Nethermind.Trie/TrieNode.cs
Labels: performance
