Repository NethermindEth/nethermind, pull requests merged in 2024-05, with the labels that each got.

#6980 Update Fast Sync configuration in Nethermind repository
  src/Nethermind/Nethermind.Runner/configs/chiado.cfg
  src/Nethermind/Nethermind.Runner/configs/energyweb.cfg
  src/Nethermind/Nethermind.Runner/configs/exosama.cfg
  src/Nethermind/Nethermind.Runner/configs/gnosis.cfg
  src/Nethermind/Nethermind.Runner/configs/joc-mainnet.cfg
  src/Nethermind/Nethermind.Runner/configs/joc-testnet.cfg
  src/Nethermind/Nethermind.Runner/configs/mainnet.cfg
  src/Nethermind/Nethermind.Runner/configs/sepolia.cfg
  src/Nethermind/Nethermind.Runner/configs/volta.cfg
Labels: configs

#6991 fix: Use dpkg instead uname to get unified arch in postinst debian script
  scripts/deployment/ppa/debian/postinst
Labels: bug, devops

#6994 Cleanup/dedup improvement context wiring
  src/Nethermind/Nethermind.Merge.Plugin.Test/EngineModuleTests.PayloadProduction.cs
  src/Nethermind/Nethermind.Merge.Plugin.Test/EngineModuleTests.Setup.cs
Labels: minor

#7011 Update Fast Sync configuration in Nethermind repository
  src/Nethermind/Nethermind.Runner/configs/chiado.cfg
  src/Nethermind/Nethermind.Runner/configs/energyweb.cfg
  src/Nethermind/Nethermind.Runner/configs/exosama.cfg
  src/Nethermind/Nethermind.Runner/configs/gnosis.cfg
  src/Nethermind/Nethermind.Runner/configs/joc-mainnet.cfg
  src/Nethermind/Nethermind.Runner/configs/joc-testnet.cfg
  src/Nethermind/Nethermind.Runner/configs/mainnet.cfg
  src/Nethermind/Nethermind.Runner/configs/sepolia.cfg
  src/Nethermind/Nethermind.Runner/configs/volta.cfg
Labels: configs

#7040 Remove unnecessary async
  src/Nethermind/Nethermind.AccountAbstraction/AccountAbstractionPlugin.cs
  src/Nethermind/Nethermind.Api/Extensions/IConsensusWrapperPlugin.cs
  src/Nethermind/Nethermind.Consensus.AuRa/AuRaPlugin.cs
  src/Nethermind/Nethermind.Consensus.AuRa/InitializationSteps/StartBlockProducerAuRa.cs
  src/Nethermind/Nethermind.Consensus.Clique/CliquePlugin.cs
  src/Nethermind/Nethermind.Consensus.Ethash/EthashPlugin.cs
  src/Nethermind/Nethermind.Consensus.Ethash/NethDevPlugin.cs
  src/Nethermind/Nethermind.Consensus/IBlockProducerFactory.cs
  src/Nethermind/Nethermind.Init/Steps/InitializeBlockProducer.cs
  src/Nethermind/Nethermind.Merge.AuRa/AuRaMergePlugin.cs
  src/Nethermind/Nethermind.Merge.Plugin.Test/MergePluginTests.cs
  src/Nethermind/Nethermind.Merge.Plugin/MergePlugin.BlockProducer.cs
  src/Nethermind/Nethermind.Mev.Test/MevPluginTests.cs
  src/Nethermind/Nethermind.Mev/MevPlugin.cs
  src/Nethermind/Nethermind.Optimism/InitializeBlockProducerOptimism.cs
  src/Nethermind/Nethermind.Optimism/OptimismPlugin.cs
Labels: minor

#7047 Update Fast Sync configuration in Nethermind repository
  src/Nethermind/Nethermind.Runner/configs/chiado.cfg
  src/Nethermind/Nethermind.Runner/configs/energyweb.cfg
  src/Nethermind/Nethermind.Runner/configs/exosama.cfg
  src/Nethermind/Nethermind.Runner/configs/gnosis.cfg
  src/Nethermind/Nethermind.Runner/configs/joc-mainnet.cfg
  src/Nethermind/Nethermind.Runner/configs/joc-testnet.cfg
  src/Nethermind/Nethermind.Runner/configs/mainnet.cfg
  src/Nethermind/Nethermind.Runner/configs/sepolia.cfg
  src/Nethermind/Nethermind.Runner/configs/volta.cfg
Labels: configs

#7078 Update Fast Sync configuration in Nethermind repository
  src/Nethermind/Nethermind.Runner/configs/chiado.cfg
  src/Nethermind/Nethermind.Runner/configs/energyweb.cfg
  src/Nethermind/Nethermind.Runner/configs/exosama.cfg
  src/Nethermind/Nethermind.Runner/configs/gnosis.cfg
  src/Nethermind/Nethermind.Runner/configs/joc-mainnet.cfg
  src/Nethermind/Nethermind.Runner/configs/joc-testnet.cfg
  src/Nethermind/Nethermind.Runner/configs/mainnet.cfg
  src/Nethermind/Nethermind.Runner/configs/sepolia.cfg
  src/Nethermind/Nethermind.Runner/configs/volta.cfg
Labels: configs
