Repository NethermindEth/nethermind, pull requests merged in 2024-04, with the labels that each got.

#6883 Update Fast Sync configuration in Nethermind repository
  src/Nethermind/Nethermind.Runner/configs/chiado.cfg
  src/Nethermind/Nethermind.Runner/configs/energyweb.cfg
  src/Nethermind/Nethermind.Runner/configs/exosama.cfg
  src/Nethermind/Nethermind.Runner/configs/gnosis.cfg
  src/Nethermind/Nethermind.Runner/configs/joc-mainnet.cfg
  src/Nethermind/Nethermind.Runner/configs/joc-testnet.cfg
  src/Nethermind/Nethermind.Runner/configs/mainnet.cfg
  src/Nethermind/Nethermind.Runner/configs/sepolia.cfg
  src/Nethermind/Nethermind.Runner/configs/volta.cfg
Labels: configs

#6897 Fix PPA dependencies
  scripts/deployment/ppa/debian/control
Labels: bug, devops

#6903 Update Fast Sync configuration in Nethermind repository
  src/Nethermind/Nethermind.Runner/configs/chiado.cfg
  src/Nethermind/Nethermind.Runner/configs/energyweb.cfg
  src/Nethermind/Nethermind.Runner/configs/exosama.cfg
  src/Nethermind/Nethermind.Runner/configs/gnosis.cfg
  src/Nethermind/Nethermind.Runner/configs/joc-mainnet.cfg
  src/Nethermind/Nethermind.Runner/configs/joc-testnet.cfg
  src/Nethermind/Nethermind.Runner/configs/mainnet.cfg
  src/Nethermind/Nethermind.Runner/configs/sepolia.cfg
  src/Nethermind/Nethermind.Runner/configs/volta.cfg
Labels: configs

#6890 Reduce contention inside RocksDB during OldReceipts
  src/Nethermind/Nethermind.Blockchain/BlockTree.cs
  src/Nethermind/Nethermind.Synchronization/FastBlocks/ReceiptsSyncFeed.cs
Labels: performance

#6917 Update Fast Sync configuration in Nethermind repository
  src/Nethermind/Nethermind.Runner/configs/chiado.cfg
  src/Nethermind/Nethermind.Runner/configs/energyweb.cfg
  src/Nethermind/Nethermind.Runner/configs/exosama.cfg
  src/Nethermind/Nethermind.Runner/configs/gnosis.cfg
  src/Nethermind/Nethermind.Runner/configs/joc-mainnet.cfg
  src/Nethermind/Nethermind.Runner/configs/joc-testnet.cfg
  src/Nethermind/Nethermind.Runner/configs/mainnet.cfg
  src/Nethermind/Nethermind.Runner/configs/sepolia.cfg
  src/Nethermind/Nethermind.Runner/configs/volta.cfg
Labels: configs

#6937 Update Fast Sync configuration in Nethermind repository
  src/Nethermind/Nethermind.Runner/configs/chiado.cfg
  src/Nethermind/Nethermind.Runner/configs/energyweb.cfg
  src/Nethermind/Nethermind.Runner/configs/exosama.cfg
  src/Nethermind/Nethermind.Runner/configs/gnosis.cfg
  src/Nethermind/Nethermind.Runner/configs/joc-mainnet.cfg
  src/Nethermind/Nethermind.Runner/configs/joc-testnet.cfg
  src/Nethermind/Nethermind.Runner/configs/mainnet.cfg
  src/Nethermind/Nethermind.Runner/configs/sepolia.cfg
  src/Nethermind/Nethermind.Runner/configs/volta.cfg
Labels: configs

#6946 Use Avx512Vbmi for endianness swapping
  src/Nethermind/Nethermind.Evm/EvmStack.cs
Labels: performance

#6947 Fix the docs workflow
  .github/workflows/update-docs.yml
Labels: bug, devops

#6956 Support PPA package on Ubuntu 24.04
  .github/workflows/publish-packages.yml
Labels: devops, release

#6958 Update Fast Sync configuration in Nethermind repository
  src/Nethermind/Nethermind.Runner/configs/chiado.cfg
  src/Nethermind/Nethermind.Runner/configs/energyweb.cfg
  src/Nethermind/Nethermind.Runner/configs/exosama.cfg
  src/Nethermind/Nethermind.Runner/configs/gnosis.cfg
  src/Nethermind/Nethermind.Runner/configs/joc-mainnet.cfg
  src/Nethermind/Nethermind.Runner/configs/joc-testnet.cfg
  src/Nethermind/Nethermind.Runner/configs/mainnet.cfg
  src/Nethermind/Nethermind.Runner/configs/sepolia.cfg
  src/Nethermind/Nethermind.Runner/configs/volta.cfg
Labels: configs
